.navbar {
  padding: 20px;
  background-color: rgb(162, 161, 164);
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.card {
  display: flex;
  direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
.error {
  display: flex;
  font-size: large;
  justify-content: center;
  padding: 20px 0px;
}
.select {
  display: flex;
  justify-content: right;
  padding: 20px;
  margin: 20px;
}
